includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7

    ignoreErrors:
        # Custom field model type covariance - App\Models\CustomField* extends Relaticle\CustomFields\Models\CustomField*
        # Runtime model swapping is configured in AppServiceProvider but PHPStan doesn't know about it
        -
            identifier: argument.type
            message: '#(Closure\(App\\Models\\CustomField|Relaticle\\CustomFields\\Models\\CustomField)(Option|Value|Section)?#'

        # Base ValidateSignature has untyped variadic ...$args that PHPStan infers as array|null
        -
            identifier: argument.type
            path: app/Http/Middleware/ValidateSignature.php


    stubFiles:
        - stubs/Mailcoach.stub

    paths:
        - app
        - packages
        - config
        - bootstrap
        - database/factories
        - routes

    excludePaths:
        - packages/SystemAdmin

    configDirectories:
        - config
        - packages/ImportWizard/config
        - packages/Documentation/config
