parameters:
	ignoreErrors:
		-
			message: '#^Method Relaticle\\OnboardSeed\\ModelSeeders\\OpportunitySeeder\:\:createOpportunityFromFixture\(\) should return App\\Models\\Opportunity but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app-modules/OnboardSeed/src/ModelSeeders/OpportunitySeeder.php

		-
			message: '#^Method Relaticle\\OnboardSeed\\ModelSeeders\\PeopleSeeder\:\:createPersonFromFixture\(\) should return App\\Models\\People but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app-modules/OnboardSeed/src/ModelSeeders/PeopleSeeder.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app-modules/OnboardSeed/src/ModelSeeders/TaskSeeder.php

		-
			message: '#^Method Relaticle\\OnboardSeed\\ModelSeeders\\TaskSeeder\:\:createTaskFromFixture\(\) should return App\\Models\\Task but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app-modules/OnboardSeed/src/ModelSeeders/TaskSeeder.php

		-
			message: '#^Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable\:\:\$currentTeam\.$#'
			identifier: property.notFound
			count: 1
			path: app-modules/OnboardSeed/src/OnboardSeedManager.php

		-
			message: '#^Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app-modules/OnboardSeed/src/OnboardSeedManager.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 3
			path: app-modules/OnboardSeed/src/Support/RelationshipBuilder.php
