@font-face {
    font-family: "Inter";
    src: url("/fonts/inter/InterVariable.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/satoshi/Satoshi-Variable.woff2") format("woff2");
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    src: url("/fonts/satoshi/Satoshi-VariableItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 300 900;
    font-display: swap;
}
