@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../fonts.css';
@import '../../theme.css';

@source '../../../../app/Filament';
@source '../../../../resources/views/filament';
@source '../../../../vendor/relaticle/custom-fields';
